<% include header %>
<div class="container">
    <div class="corpus">
        <div id="connectionfailed" class="row">
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Oh snap!</strong> Il semble que voter email et votre mot de passe ne correspondent pas...
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>Connexion</h1>
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="emailLogin">Adresse email</label>
                        <input type="email" class="form-control" id="emailLogin" placeholder="Entrez votre email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="passLogin">Mot de passe</label>
                        <input type="password" class="form-control" id="passLogin" placeholder="Mot de passe" name="password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember"> Se souvenir de moi ?
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Valider</button>
                </form>
            </div>
            <div class="col-md-6">
                <h1>Version ALPHA</h1>
                <p>Live Code est actuellement en version <i class="glyphicon glyphicon-lock"></i>Alpha, il est donc possible que vous rencontriez quelques bugs, nous travaillons à leur résolution, néanmoins, si vous trouvez un bug non signalé, vous pouvez le faire sur <a href="https://github.com/MisterTakaashi/Live-Code-Project/issues" alt="Issues projet" target="_blank">cette page</a>. Merci à vous ;)</p>
            </div>
        </div>
    </div>
</div>
<% include footer %>
