<% include header %>
    <style>
        body{
            background: #272822;
        }
    </style>
    <div class="corpus-code">
        <pre><code class="language-css">
p { color: red; }
body { background: black; }</code>
        </pre>
    </div>
<% include footer %>
